<!-- Ecomerce-website.github.io/front-end/components/header.html -->
<nav class="nav-bar">
    <h1>Ouazizi</h1>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
        <li>
            <a href="/signin">Sign in</a>
        </li>
    </ul>
    <div class="serch">
        <input type="text" placeholder="what you looking for">
        <span class="icon">&#x1F50D;</span>
        <a href="#"><span>&hearts;</span></a>
        <a href="#"><span>&#128722;</span></a>

    </div>
</nav>