<!-- Ecomerce-website.github.io/front-end/pages/home.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ecommerce</title>
</head>

<body>
    <header class="top-header">
        <h6>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</h6>
    </header>
    <div>
        <div>{{ template "header.html" . }}</div>
    </div>

    <section class="banner">
        <div class="links">
            <a href="#">link1 ></a>
            <a href="#">link1 ></a>
            <a href="#">link1 ></a>
            <a href="#">link1 ></a>
            <a href="#">link1 ></a>
            <a href="#">link11 ></a>
        </div>
        <div class="carousel">
            <img src="/imges/test.jpg" alt="test">
        </div>
    </section>

    <section class="todays">
        <h2 class="today"><span></span>today's</h2>
        <div class="control">
            <h1>flashe sales</h1>
            <span>timing</span>
            <div>
                <span class="left-rifht">&lt</span>
                <span class="left-rifht">&gt</span>
            </div>
        </div>
        <div class="products">
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
        </div>
        <div class="all-products-btn">
            <button>veiw all products</button>
        </div>
    </section>



    <section class="todays">
        <h2 class="today"><span></span>category</h2>
        <div class="control">
            <h1>brouse by category</h1>

            <div>
                <span class="left-rifht">&lt</span>
                <span class="left-rifht">&gt</span>
            </div>
        </div>
        <div class="products">
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
        </div>

    </section>


    <section class="todays">
        <h2 class="today"><span></span>this month</h2>
        <div class="control">
            <h1>best selling products</h1>

            <div class="all-products-btn">
                <button>veiw all products</button>
            </div>
        </div>
        <div class="products">
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
        </div>

    </section>
    <section class="buy-now">
        <div class="child">

            <h3>category</h3>
            <h1>Enhance Your <br>Music Experiance</h1>
            <div class="circles">
                <div>
                    <pre>23<br>hour</pre>
                </div>
                <div>
                    <pre>05<br>days</pre>
                </div>
                <div>
                    <pre>59<br>minutes</pre>
                </div>
                <div>
                    <pre>23<br>second<pre></div>
            </div>
            <button>BUY NOW!</button>
        </div>
    </section>

    <section class="todays">
        <h2 class="today"><span></span>Products</h2>
        <div class="control">
            <h1>explore our products</h1>
            <div>
                <span class="left-rifht">&lt</span>
                <span class="left-rifht">&gt</span>
            </div>
            
        </div>
        <div class="products">
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
        </div>
        <div class="products">
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
            <div>product 1</div>
        </div>
        <div class="all-products-btn">
            <button>veiw all products</button>
        </div>
    
    </section>

    <section class="todays">
        <h2 class="today"><span></span>futures</h2>
        <div class="control">
            <h1>new arrival</h1>
        </div>
        <div class="futures">
            <div class="child">big</div>
            <div class="child">
                <div class="child0">up</div>
                <div class="divided">
                    <div class="child1">smal1</div>
                    <div class="child1">smal2</div>
                </div>
            </div>
        </div>
        
    </section>
    <div>{{ template "brand.html" .}}</div>
    <section  class="button-up">
        <a href="#top" class="left-rifht">^</a>
    </section>

<div>
    <div>{{ template "footer.html" . }}</div>
</div>
<div class="footer-bottom">
    <p>© Copyright Rimel 2022. All right reserved</p>
</div>




    

</body>

</html>