<!-- Ecomerce-website.github.io/front-end/pages/whish-list.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ecomerce web page</title>
</head>

<body>
    <header class="top-header">
        <h6>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</h6>
    </header>
    <div>{{ template "header.html" . }}</div>
    <h1>whish list</h1>
    <div>{{.Wishlist}}</div>
    <div>{{ template "footer.html" . }}</div>
</body>

</html>