// static/scss/utilities/_variables.scss

/* set up our colors guide*/
$praimary-color1:  #ffffff;
$praimary-color2:#363738;
$secondary-color1:#FEFAF1;
$secondary-color2:#F5F5F5;
$secondary-color3:#DB4444;
$text-color:#D37643;
$button-color:#000;
$button1-color:#47B486;
$button2-color:#DB4444;
$button2-color-hover:#db444489;
